doctype html
html
	head
		title Mental Math 2 | Play
		script(src='http://code.responsivevoice.org/responsivevoice.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		script(src='https://d1l4stvdmqmdzl.cloudfront.net/3.9.6/mongoose.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/game.js')

		p#question #{questions[score].num1} #{questions[score].op}  #{questions[score].num2}
			p#score #{score}
			p#currentUser #{currentUser}
			input#answer(type='number')
			button.btn.btn-primary#check-button Enter
			button.btn.btn-primary#repeat-button Repeat
			button.btn.btn-primary#group-button(onclick='groupUp()') Break number
			button.btn.btn-primary#blur-button Unblur question

	script(type="text/javascript").
		let score = !{JSON.stringify(score)};
		// when document is ready:
		$(document).ready(function(){
			const questions = !{JSON.stringify(questions)};
			let groupButton = document.getElementById('group-button');
			let isTwoDigit = questions[score].num2 < 9;
			isTwoDigit ? groupButton.style.display = 'none' : groupButton.style.display = 'block';
			// speak and check for enter key press
			onReady(questions);

			// if user clicks on enter button
			document.getElementById('check-button').addEventListener('click', function() {
				checkAnswer(questions);
			});

			// if user clicks repeat button, repeat question and focus on the answer input
			$('#repeat-button').click(function() {
				if (score < questions.length) {
					responsiveVoice.speak(`${questions[score].num1} ${questions[score].op} ${questions[score].num2}`, "UK English Male");
					$("#answer").focus();				
					}
			});

			// if user press r, repeat the question
			jQuery(document).on('keydown',function(evt) {
				if (evt.keyCode == 82) $('#repeat-button').click();
			});

			// blurs/unblurs question when clicked
			$('#blur-button').on('click', function() {
				onBlur();
			})
		});
